body
{
background-image: linear-gradient(bottom, rgb(0,0,0) 28%, rgb(101,105,100) 64%, rgb(167,176,166) 82%);
background-image: -o-linear-gradient(bottom, rgb(0,0,0) 28%, rgb(101,105,100) 64%, rgb(167,176,166) 82%);
background-image: -moz-linear-gradient(bottom, rgb(0,0,0) 28%, rgb(101,105,100) 64%, rgb(167,176,166) 82%);
background-image: -webkit-linear-gradient(bottom, rgb(0,0,0) 28%, rgb(101,105,100) 64%, rgb(167,176,166) 82%);
background-image: -ms-linear-gradient(bottom, rgb(0,0,0) 28%, rgb(101,105,100) 64%, rgb(167,176,166) 82%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.28, rgb(0,0,0)),
	color-stop(0.64, rgb(101,105,100)),
	color-stop(0.82, rgb(167,176,166))
);
background-repeat:repeat-x;
}

.background
{
	background-color:white;
	width:960px;
	height:980px;
	margin-left:auto;
	margin-right:auto;
}

.banner
{
	
	
vertical-align: middle;
	width:960px;
	height:190px;
	
	color:rgb(5,250,43);
	background-image:url('../images/banner.jpg');
	
}

.banner h1
{
	padding-left:25px;
	padding-top: 50px;
}
.menu
{
	width:960px;
	height:60px;
	background-color:rgb(162,232,184);
}

#one,#two,#three,#four
{
	float:left;
	
	width:25%;
	height:100%;
	text-align:center;
}
.page
{
	background-image: linear-gradient(bottom, rgb(247,218,195) 35%, rgb(245,242,233) 68%);
background-image: -o-linear-gradient(bottom, rgb(247,218,195) 35%, rgb(245,242,233) 68%);
background-image: -moz-linear-gradient(bottom, rgb(247,218,195) 35%, rgb(245,242,233) 68%);
background-image: -webkit-linear-gradient(bottom, rgb(247,218,195) 35%, rgb(245,242,233) 68%);
background-image: -ms-linear-gradient(bottom, rgb(247,218,195) 35%, rgb(245,242,233) 68%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.35, rgb(247,218,195)),
	color-stop(0.68, rgb(245,242,233))
)
}
div.left,div.content,div.right
{
	float:left;
}

.right,.left
{
	width:20%;
	
}
.content
{
	height:100%;
	width:60%;
	
}

.content p
{
	text-align:left;
	margin-left:70px;
}
.page
{
	height:750px;
	text-align:center;
}

.left div
{
	height:33.33%;
}

.right div
{
	height:33.33%;
}

p
{
	vertical-align:middle;
	text-align:center;
}

.footer p
{

}

.solidblockmenu{
margin: 0;
padding: 0;
float: left;
font: bold 13px Arial;
width: 100%;
overflow: hidden;

border: 1px solid #625e00;
border-width: 1px 0;
background-image: linear-gradient(bottom, rgb(8,54,128) 28%, rgb(65,124,219) 64%, rgb(169,197,232) 82%);
background-image: -o-linear-gradient(bottom, rgb(8,54,128) 28%, rgb(65,124,219) 64%, rgb(169,197,232) 82%);
background-image: -moz-linear-gradient(bottom, rgb(8,54,128) 28%, rgb(65,124,219) 64%, rgb(169,197,232) 82%);
background-image: -webkit-linear-gradient(bottom, rgb(8,54,128) 28%, rgb(65,124,219) 64%, rgb(169,197,232) 82%);
background-image: -ms-linear-gradient(bottom, rgb(8,54,128) 28%, rgb(65,124,219) 64%, rgb(169,197,232) 82%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.28, rgb(8,54,128)),
	color-stop(0.64, rgb(65,124,219)),
	color-stop(0.82, rgb(169,197,232))
);
}



.solidblockmenu li{
display: inline;
}

.solidblockmenu li a{
float: left;
color: white;
padding: 9px 11px;
text-decoration: none;
border-right: 1px solid white;
}

.solidblockmenu li a:hover{
color: white;
background: url('..images/blockactive.gif') center center repeat-x;
}

.solidblockmenu li a:visited{
color: white;
}

.leftnav li{
margin: 0;
padding: 0;

font: bold 13px Arial;
width: 100%;
overflow: hidden;

border: 1px solid #625e00;
border-width: 1px 0;
background-image: linear-gradient(bottom, rgb(67,5,138) 16%, rgb(25,10,41) 58%);
background-image: -o-linear-gradient(bottom, rgb(67,5,138) 16%, rgb(25,10,41) 58%);
background-image: -moz-linear-gradient(bottom, rgb(67,5,138) 16%, rgb(25,10,41) 58%);
background-image: -webkit-linear-gradient(bottom, rgb(67,5,138) 16%, rgb(25,10,41) 58%);
background-image: -ms-linear-gradient(bottom, rgb(67,5,138) 16%, rgb(25,10,41) 58%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.16, rgb(67,5,138)),
	color-stop(0.58, rgb(25,10,41))
);
}

.leftnav li:hover
{
background-image: linear-gradient(bottom, rgb(214,177,45) 17%, rgb(82,70,16) 59%);
background-image: -o-linear-gradient(bottom, rgb(214,177,45) 17%, rgb(82,70,16) 59%);
background-image: -moz-linear-gradient(bottom, rgb(214,177,45) 17%, rgb(82,70,16) 59%);
background-image: -webkit-linear-gradient(bottom, rgb(214,177,45) 17%, rgb(82,70,16) 59%);
background-image: -ms-linear-gradient(bottom, rgb(214,177,45) 17%, rgb(82,70,16) 59%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.17, rgb(214,177,45)),
	color-stop(0.59, rgb(82,70,16))
);
}


.leftnav {

}

.leftnav li{
list-style: none;
height:30px;
}

.leftnav li a{

color: white;

text-decoration: none;

}

.leftnav li a:hover{
color: white;
background: url('..images/blockactive.gif') center center repeat-x;
}

.leftnav li a:visited{
color: white;
}